<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="icon" href="resources/img/logo-icon.png" type="image/x-icon">
  <title>Bazart-registro</title>
  <link href="resources/recursos/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet">
  <link href="resources/recursos/css/sb-admin-2.min.css" rel="stylesheet">

</head>
<body class="bg-gradient-primary">
    <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div >
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Crear una cuenta</h1>
                            </div>
                            <form class="user" id="registrationForm" action="/registro" method="post">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="exampleFirstName" name="firstName" placeholder="Nombre">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" id="exampleLastName" name="lastName" placeholder="Apellidos">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" id="exampleInputEmail" name="email" placeholder="Correo Electrónico">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user" id="exampleInputPassword" name="password" placeholder="Contraseña">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user" id="exampleRepeatPassword" name="repeatPassword" placeholder="Repetir Contraseña">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" name="address" placeholder="Dirección">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" name="city" placeholder="Ciudad">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" name="state" placeholder="Estado">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" name="zip" placeholder="Código Postal">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" name="country" placeholder="País">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" name="phone" placeholder="Teléfono">
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Registrar Cuenta
                                </button>
                                <hr>
                            </form>
                            <div class="text-center mt-3">
                                <a class="small" href="/login">¿Ya tienes cuenta?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="register.html">¡Crear una cuenta!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  <script src="resources/recursos/vendor/jquery/jquery.min.js"></script>
  <script src="resources/recursos/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="resources/recursos/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="resources/recursos/js/sb-admin-2.min.js"></script>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
